<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Kontakt-T.E.D</title>
	<link rel="stylesheet" type="text/css" href="Design2.css">

</head>
<body>

	<div id= "nav">
		<ul>
			<li class= "first">
				<a href=”#”>Home</a>
			</li>
			<li>
				<a href=”#”>Finde dein Praktikum</a>
			</li>
			<li>
				<a href=”#”>Tipps und Tricks</a>
				<ul>
					<li>
						<a href=”#”>Bewerbung</a>
					</li>
				</ul>
			</li>
			<li>
				<a href=”#”>Alle Unternehmen</a>
			</li>
			<li>
				<a href=”#”>Über Uns</a>

				<ul>
					<li>
						<a href=”#”>T.E.D</a>
					</li>
					<li>
						<a href=”#”>Impressum</a>
					</li>
				</ul>
			</li>
			<li>
				<a href=”#”>Kontakt</a>
			</li>
		</ul>
	</div>

	<h1>Kontakt</h1>
	
	<div class="haupttext">
	  
	
	<br id="herrvorheben">Haben Sie noch Fragen oder Anmerkungen? Dann senden Sie uns eine Nachricht mit Ihren persönlichen Anliegen.</br>

	<form>
		<p class="eingabeformular">
			<input name="sex" type="radio" value="m">
			Herr
			<input name="sex" type="radio" value="w">
			Frau
		</p>
		<p class="eingabeformular">
			Name
			<input id="verschieben1" name="user" type="text">
		</p>
		<p class="eingabeformular">
			Nachname
			<input id="verschieben2" name="usersecondname" type="text">
		</p>
		<p class="eingabeformular">
			E-Mail
			<input id="verschieben3" name="email" type=>
		</p>

		<p class="eingabeformular">
			Betreff
			<input id="verschieben4" name="betreff" type="text">

		<p class="eingabeformular">
			Nachricht:
			<br class="eingabeformular">
			<textarea id="textfeld" rows="10" cols="70"></textarea>
		<p class="eingabeformular">
			<input name="send" type="button" value="Senden">
		</p>

	</form>
</div>
</body>