#eigeneStellen{
	overflow:scroll;
}

#abmelden{
	width:12%;
	padding:3px;
	font-size:0.8em;
	border-radius:25px;
	margin-left: 24px;
	background-color: #12aeef;
	color: #ffffff;
	float: right;
	clear:both;
	margin-bottom: -18%;
}

#buttonverschieben{
	top:-15%;
}