.haupttext{
	text-align: center;
	font-size: 0.8em;
	margin-top: -15%;
}

#anTugrul{
	float: left;
	margin-top: 4%;
}

#bild1{
	width: 110px;
	margin-top: 8%;
}

#tugrulbild{
	clear:both;
	float: left;
	margin-left: 2%;
}

#anEngin{
	margin-top: 4%;	
	margin-left:31%;
	float: left;
}

#bild2{
	width: 110px;
	margin-top: -23%;
}

#enginbild{
	clear: both;
	margin-left: 46%;
}


#anDani{
	margin-top: 4%;
	margin-right:8%;
	float: right;
	margin-bottom: 5%;
}

#bild3{
	width: 104px;
}

#danielebild{
	clear: both;
	float: right;
	margin-right: 9.5%;
	margin-top: -13%;
	
}

ol{
	margin-top: 10%;
}