#anschriftenverschieben{
	margin-right: 350px;	
}

#tugrulbild{
	margin-left: 850px;
	margin-top:-200px;
	margin-bottom: 150px;
}

#enginbild{
	margin-left: 850px;
	margin-top:-200px;
	margin-bottom: 150px;	
}

#danielebild{
	margin-left: 850px;
	margin-top:-200px;
	margin-bottom: 150px;	
}