.haupttext{
	text-align: center;
	font-size: 0.8em;
	margin-top: -8%;
}

#einloggenformular{
}

#email{
	width: 20%;;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	font-size: 1.2em;
	margin-top: -5%;
	margin-left: -7%;
}

#psw{
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	font-size: 1.2em;
}

#button1{
	width:14%;
	padding:15px;
	font-size:1.2em;
	border-radius:25px;
	margin-left: 24px;
	background-color: #12aeef;
	color: #ffffff;
	margin-top: 5%;
	margin-bottom:8%;
	margin-left: -6%;
}

#button2{
	width:14%;
	padding:15px;
	font-size:1.0em;
	border-radius:25px;
	background-color: #12aeef;
	color: #ffffff;
	margin-bottom: 8%;
	margin-top: 2%;
}

#button3{
	width:14%;
	padding:15px;
	font-size:1.0em;
	border-radius:25px;
	background-color: #12aeef;
	color: #ffffff;
	margin-bottom: 10%;
}

#facebook{
	width:32px;
}

#twitter{
	width:32px;
}


