@CHARSET "ISO-8859-1";

#text1{
	font-size: 1.1em;
}

#formular1{
	margin-left: 30%;
	margin-top: -20%;
	clear: both;
}


form p input{
	font-size: 0.8em;
	font-family:  font-family: arial, sans-serif;
}

#input1{
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 11%;
	margin-right: 7.8%;
}

#input2{
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 10px;
}

#input3{
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 10px;
	margin-top: 15px;
}



#select{
	font-size: 0.8em;
	width: 25%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 10px;
}

#select2{
	font-size: 0.8em;
	width: 22.8%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 35px;
	margin-right: 25px;
}

#select3{
	margin-left: 20px;
	margin-right: 210px;
	font-size: 0.8em;
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 10px;
}

#select4{
	font-size: 0.8em;
	width: 23%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	margin-left: 9.6%;
	margin-top: 15px;
	
}

option{
	border-radius: 25px;
	border-style: none;
	text-align: center;
	font-family:  font-family: arial, sans-serif;
	color: #424040;
	
}

#button1{
	margin-top: 8%;
	width:22%;
	padding:15px;
	font-size:0.9em;
	border-radius:25px;
	margin-left:32%;
	background-color: #12aeef;
	color: #ffffff;
}

#sucheverfeinern{
	margin-left: 60.2%;
	margin-top: -2%;
	font-size: 1.1em;
}

a{
	text-decoration: blink;
	text-decoration: underline;
	color: #12aeef;
}

a:hover{
	color: #424040;
}

#sucheverfeinernformular{
	margin-top: 4%;
}