@CHARSET "ISO-8859-1";

.ueberschrift{
	margin-bottom: -15%;
}

.eingabe{
	width: 20%;
	border-radius: 25px;
	padding:10px;
	font-family:  font-family: arial, sans-serif;
	font-size: 0.9em;
	margin-bottom: 15px;
	margin-top: -10%
	
}

#button{
	margin-top: 200px;
	width:22%;
	padding:10px;
	font-size:1.0em;
	border-radius:25px;
	margin-left: 380px;
	background-color: #12aeef;
	color: #ffffff;
}

#buttonverschieben{
	margin-top:-480px;
	margin-bottom:-85px;
	margin-left: 330px;
}

body {
	margin-bottom: 580px;
}





.generatecssdotcom_arrow {
	width:35px;
	height:10px;
	position:relative;
	background:#12aeef;
	border:0px solid #FFCC00;
	margin: 50px;
	margin-left: 500px;
	padding:10px;
	border-radius:8px;
	left:0px;s
} 

.generatecssdotcom_arrow:after, .generatecssdotcom_arrow:before {
	left:80%;
	top:35%;
	border:solid transparent;
	content:" ";
	height:2px;
	width:2px;
	position:absolute;
	pointer-events:none;
	border-radius:8px;
} 
.generatecssdotcom_arrow:after {
	border-left-color:#12aeef;
	border-width:50px;
	margin-top:-50px;
	border-radius:10px;
} 



