<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bewerber-Registrierung</title>
</head>
<body>
	<div id="bild"> <img  src="/assets/images/bild.jpg"> </div>
	<div id="bild2"> <img  src="/assets/images/bild2.jpg"> </div>

	<div id="nav">
		<ul>
			<li class="first"><a href="/startseite">Home</a></li>
			<li><a href="/suche">Finde dein Praktikum</a></li>
			<li><a href="/bewerbungstipps">Tipps und Tricks</a>
				<ul>
					<li><a href="/bewerbungstipps">Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href="/impressum">Über Uns</a>

				<ul>
					<li><a href="/startseite">T.E.D</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</div>

	<h1>Bewerber-Registrierung</h1>

	<ul>
		<li><input type="text" placeholder="Vorname"></input></li>
		<li><input type="text" placeholder="Nachname"></input></li>
		<li><input type="text" placeholder="Straße"></input></li>
		<li><input type="text" placeholder="Ort"></input></li>
		<li><input type="text" placeholder="Plz"></input></li>
		<li><input type="text" placeholder="Land"></input></li>
		<li><input type="text" placeholder="E-Mail"></input></li>
		<li><input type="text" placeholder="Passwort"></input></li>
		<li><input type="text" placeholder="Handynummer"></input></li>
		<li><input type="text" placeholder="Festnetznummer"></input></li>
		



	</ul>




</body>
</html>