<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>T.E.D Bewerbungstipps</title>
<link rel="stylesheet" type="text/css" href=" /assets/stylesheets/main.css">
</head>
<body>
	<img id="bild" alt="Logo" src="./images/LogoFertig.jpg">
<h1>TED</h1>
	<div id="nav">
		<ul>
			<li class="first"><a href=”#”>Home</a></li>
			<li><a href=”#”>Finde dein Praktikum</a></li>
			<li><a href=”#”>Tipps und Tricks</a>
				<ul>
					<li><a href=”#”>Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”> Alle Unternehmen </a></li>
			<li><a href=”#”> Über Uns </a>

				<ul>
					<li><a href=”#”>T.E.D</a></li>
					<li><a href=”#”>Impressum</a></li>
				</ul></li>
			<li><a href=”#”>Kontakt</a></li>
		</ul>
	</div>

	<h2>Bewerbungstipps</h12>
	<div class="haupttext">
	<h3>Bewerbung</h3>
	<p>Schreiben sie ihre Bewerbung immer auf ihrer eigenen Spracheweise. <br>Es ist abzuraten standard Sätze zu nehmen, da es sehr unnatürlich wirkt.</p>
	<p>Nehmen sie sich mindestens eine Stunde Zeit für die Bewerbung. <br>Achten Sie auf Rechtschreibung und Grammatik. </p>
	<p>In der Bewerbung sollten sie ihr Interesse am Unternehmen zeigen sowie ihre Fähigkeiten schildern.</p>


	<h3>Vorstellungsgespräch</h3>
	<p>Im Vorstellungsgespräch sollten sie drauf achten, dass es immer standard Fragen gibt. <br>Man kann sich sehr gut drauf vorbereiten indem man viel übt.<br>Es gibt Fragen wie z.B. "Nennen sie ihre Stärken und Schwächen" oder "Erzählen sie was über sich".</p>
	<p>Bei solchen Fragen können sie punkten. Üben sie vor Freunden oder vor dem Spiegel und achten Sie drauf das sie immer ehrlich sind.</p>



		<p>
			<a href="http://www.facebook.com">Folgen sie uns auf Facebook</a>
		</p>
		<p>
			<a href="http://www.twitter.com">Folgen sie uns auf Twitter</a>
		</p>

	</div>


</body>
</html>