<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>Unternehmen-TED</title>
<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>
<script type="text/javascript">
function ausgeben() {
	
	var json = {"unternehmen" : document.getElementById("name").value};
	$.ajax(
			{	url: "/firmensuchen",
				type:"POST",
				dataType : "text",
				data : json,
				success : function (daten) {
					$("#ergebnis").html(daten);	
				}
			});
}



</script>


</head>
<body>
<div id="bild"> <img  src="/assets/images/bild.jpg"> </div>
	<div id="bild2"> <img  src="/assets/images/bild2.jpg"> </div>
<h1 id="TED">TED</h1>
<div id="nav">
		<ul>
			<li class="first"><a href="/startseite">Home</a></li>
			<li><a href="/suche">Finde dein Praktikum</a></li>
			<li><a href="/bewerbungstipps">Tipps und Tricks</a>
				<ul>
					<li><a href="/bewerbungstipps">Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href="/impressum">Über Uns</a>

				<ul>
					<li><a href="/startseite">T.E.D</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</div>
	

<h1>Aktuelle Unternehmen bei TED</h1>
<p>Hier können sie gucken, ob Unternehmen die sie interessieren bei uns registriert sind</p>
<p>Geben sie dazu, im Textfeld, einfach das Unternehmen an das sie interessiert</p>


<form>
<p>Hier bitte Unternehmensnamen eingeben: <input type="text"  name="unternehmen" id="name" onkeyup="ausgeben()"></p>
</form>

<div id="ergebnis"></div>




</body>
</html>