<!DOCTYPE html>
<html>
<head>
<<title>T.E.D. Registrierte Unternehmen</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main2.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/firmenzeiger.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favcon_TED.ico")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript">
function ausgeben() {
	
	var json = {"unternehmen" : document.getElementById("name").value};
	$.ajax(
			{	url: "/firmensuchen",
				type:"POST",
				dataType : "text",
				data : json,
				success : function (daten) {
					$("#ergebnis").html(daten);	
				}
			});
}



</script>


</head>
<body>
	

	<div id="ganzeSeite">
	
	<!-- Kopfbereich der Seite -->
	
	<div id="kopfbereich">
		
		
		<div class="clear"></div>
	
		<h2>Einfache Schnelle Praktikumssuche</h2>
		<h1 id="TED">TED</h1>
		<hr>

	</div>
	
	
	<!-- Linke Seite  -->
	<div id="linkeSeite">  </div>

	<!-- Rechte Seite -->
	<div id="rechteSeite"> </div>
	
	<!-- Inhalt -->
	<div id="inhalt">
		<div id="nav">
			<ul>
				<li class="first"><a href="/startseite">Home</a></li>
				<li><a href="/suche">Suche</a></li>
				<li><a href="/bewerbungstipps">Tipps</a>
					<ul>
						<li><a href="/bewerbungstipps">Bewerbung</a></li>
					</ul></li>
				<li><a href="/firmenzeiger">Unternehmen</a></li>
				<li><a>Über Uns</a>

					<ul>
						<li><a href="/impressum">Impressum</a></li>
					</ul></li>
				<li><a href="/kontakt">Kontakt</a></li>
				<li><a href="/profil">Profil-Menü</a></li>
			</ul>
		</div>
	
			<h1 class="ueberschrift">Aktuelle Unternehmen bei TED</h1>
			<div class="haupttext">
				<p>Hier können sie gucken, ob Unternehmen die sie interessieren bei uns registriert sind</p>
				<p>Geben sie dazu, im Textfeld, einfach das Unternehmen an das sie interessiert</p>


				<form>
					<p>Hier bitte Unternehmensnamen eingeben: <input type="text"  name="unternehmen" id="name" onkeyup="ausgeben()"></p>
				</form>

				<div id="ergebnis"></div>
			</div>
	</div>
</div>	

</body>
</html>