<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>T.E.D. Startseite</title>
<link rel="stylesheet" type="text/css"
	href="/assets/stylesheets/main.css">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</head>
<body>
<div id="bild"> <img  src="/assets/images/bild.jpg"> </div>
	<div id="bild2"> <img  src="/assets/images/bild2.jpg"> </div>
	
	<h1 id="TED">TED</h1>
	<div id="nav">
		<ul>
			<li class="first"><a href="/startseite">Home</a></li>
			<li><a href="/suche">Finde dein Praktikum</a></li>
			<li><a href="/bewerbungstipps">Tipps und Tricks</a>
				<ul>
					<li><a href="/bewerbungstipps">Bewerbung</a></li>
				</ul></li>
			<li><a href="/firmenzeiger">Alle Unternehmen</a></li>
			<li><a href="/impressum">Über Uns</a>

				<ul>
					<li><a href="/startseite">T.E.D</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</div>



	<h1>Praktikumsbörse Startseite</h1>
	<div class="haupttext">
		<p>Hier finden sie die besten Praktikums-Angebote</p>

		<form action="/login/unternehmen" method="POST">
			<input type="email" placeholder="email" name="email"> <input
				type="password" placeholder="password" name="password"> <input
				type="submit" value="anmelden">
		</form>


		<a href="/registrieren">registrieren<a> <br> <a
				href="/suche">
					<p>Jobs suchen</p>
			</a>


				<h4>T.E.D Praktikums Portal</h4>
				<p>T.E.D ist ein unabhängiges Jobportal für Praktikanten.</p>
				<p>Suchen Sie ein Praktikumsplatz? Dann sind sie genau richtig
					hier.</p>
				<p>Hier gibt es zahlreiche Stellen von weltweit bekannten
					Unternehmen.</p>






				<p>
					<a href="http://www.facebook.com">Folgen sie uns auf Facebook</a>
				</p>
				<p>
					<a href="http://www.twitter.com">Folgen sie uns auf Twitter</a>
				</p>
	</div>











</body>
</html>