@(error: String)
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>T.E.D. Startseite</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main2.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/Startseite.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<script type="text/javascript">

function vergroessern(){
	$("#facebook").width(40);
}

function verkleinern(){
	$("#facebook").width(32);
}

function vergroessern2(){
	$("#twitter").width(40);
}

function verkleinern2(){
	$("#twitter").width(32);
}

</script>




</head>
<body>
	

	<div id="ganzeSeite">
	
	<!-- Kopfbereich der Seite -->
	
	<div id="kopfbereich">
		<div id="alleBilder">
			<div id="bild">  <img  src="/assets/images/bild.jpg" class="bilder" > </div>
			<div id="bild3"> <img  src="/assets/images/bild3.jpg" class="bilder"> </div>
			<div id="bild2"> <img  src="/assets/images/bild2.jpg" class="bilder"> </div>
		</div>
		
		<div class="clear"></div>
	
		<h2>Einfache Schnelle Praktikumssuche</h2>
		<h1 id="TED">TED</h1>
		<hr>
		<div id="nav">
			<ul>
				<li class="first"><a href="/startseite">Home</a>
					
				
				</li>
				
				
				<li><a href="/suche">Suche</a></li>
				<li><a href="/bewerbungstipps">Tipps</a>
					<ul>
						<li><a href="/bewerbungstipps">Bewerbung</a></li>
					</ul></li>
				<li><a href="/firmenzeiger">Unternehmen</a></li>
				<li><a href="/impressum">Über Uns</a>

					<ul>
						<li><a href="/startseite">T.E.D</a></li>
						<li><a href="/impressum">Impressum</a></li>
					</ul></li>
				<li><a href="/kontakt">Kontakt</a></li>
				<li><a href="/profil">Profil-Menü</a></li>
			</ul>
			
		</div>

	</div>
	
	
	<!-- Linke Seite  -->
	<div id="linkeSeite">  </div>

	<!-- Rechte Seite -->
	<div id="rechteSeite"> </div>
	
	<!-- Inhalt -->
	<div id="inhalt">


	<h1 class="ueberschrift">Praktikumsbörse Startseite</h1>
	
	
	
	<div class="haupttext">
		<p>Hier finden sie die besten Praktikums-Angebote</p>
		<h4>T.E.D Praktikums Portal</h4>
		<p>T.E.D ist ein unabhängiges Jobportal für Praktikanten.</p>
		<p>Suchen Sie ein Praktikumsplatz? Dann sind sie genau richtig hier.</p>
		<p>Hier gibt es zahlreiche Stellen von weltweit bekannten Unternehmen.</p>

		<form id="einloggenformular" action="/login/unternehmen" method="POST">
			<p>
				<input type="email" placeholder="Email" name="email" id="email"> 
				<input type="password" placeholder="Password" name="password" id="psw"> 
			</p>
			<div id="button1verschieben">
				<p>
					<input type="submit" value="Anmelden" id="button1">
				</p>
			</div>
		</form>
		@if(error != null) {
	<div class="error">@error</div>
	}

		<p>Ist Ihr Unternehmen noch nicht registriert? Dann registrieren Sie sich!
			<br>Sie können nach der Registrierung Stellenangebote für Praktikanten anbieten und das alles kostenlos 
		</p>
		
		<div id="button2verschieben">
			<input onclick="location.href='/registrieren'" type="button" value="Registrieren" id="button2">
		</div>
		
		<p>Suchen Sie nach einem Praktikum für Ihr Praxissemester? Dann finden Sie schnell und einfach die passende Stelle
			<div id="button3verschieben">
				<input onclick="location.href='/suche'" type="button" value="Finde dein Praktikum" id="button3">
			</div>
		</p>
		
		<a href="/facebook"><img id="facebook" onmouseover="vergroessern()" onmouseout="verkleinern()" src="/assets/images/facebook.jpg" ></a>
		<a href="/twitter"><img id="twitter" onmouseover="vergroessern2()" onmouseout="verkleinern2()" src="/assets/images/twitter.jpg"> </a>

	</div>
</div>
</body>
</html>