<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>T.E.D. Startseite</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
</head>
<body>
	<img id="bild" alt="Logo" src="./images/LogoFertig.jpg">

	<div id="nav">
		<ul>
			<li class="first"><a href=”#”>Home</a></li>
			<li><a href=”#”>Finde dein Praktikum</a></li>
			<li><a href=”#”>Tipps und Tricks</a>
				<ul>
					<li><a href=”#”>Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href=”#”>Über Uns</a>

				<ul>
					<li><a href=”#”>T.E.D</a></li>
					<li><a href=”#”>Impressum</a></li>
				</ul></li>
			<li><a href=”#”>Kontakt</a></li>
		</ul>
	</div>



	<h1>Jobbörse Startseite</h1>
	<div class="haupttext">
	<p>Hier finden sie die besten Job-Angebote</p>

	<form >
		<input type="email" placeholder="email"="email">
		<input type="password" placeholder="password" name="passwort">
		<input type="submit" value="anmelden">
	</form>
	<br>
	<p>zum registrien, klicken sie bitte auf den folgenden Link
	<p>
	<ul>
		<li><a href="">Bewerber<a></li>
		<li><a href="">Unternehmen<a></li>
	</ul>



	<h4>T.E.D Praktikas aus Leidenschaft</h4>
	<p>T.E.D ist ein unabhängiges Jobportal für Praktikanten.</p>
	<p>Suchen Sie ein Praktikumsplatz? Dann sind sie genau richtig
		hier.</p>
	<p>Hier gibt es zahlreiche Stellen von weltweit bekannten
		Unternehmen.</p>
	
	
	
	


		<p>
			<a href="http://www.facebook.com">Folgen sie uns auf Facebook</a>
		</p>
		<p>
			<a href="http://www.twitter.com">Folgen sie uns auf Twitter</a>
		</p>

	</div>











</body>
</html>