<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Stelle erstellen</title>
<link rel="stylesheet" type="text/css"
	href="/assets/stylesheets/main.css">
</head>
<body>
<div id="bild"> <img  src="/assets/images/bild.jpg"> </div>
	<div id="bild2"> <img  src="/assets/images/bild2.jpg"> </div>
<h1>TED</h1>
	<div id="nav">
		<ul>
			<li class="first"><a href="/startseite">Home</a></li>
			<li><a href="/suche">Finde dein Praktikum</a></li>
			<li><a href="/bewerbungstipps">Tipps und Tricks</a>
				<ul>
					<li><a href="/bewerbungstipps">Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href="/impressum">Über Uns</a>

				<ul>
					<li><a href="/startseite">T.E.D</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</div>
	<h2>Stelle erstellen als Unternehmen</h2>
	<p>Erstellen sie eine Stelle. Füllen sie dabei das untere Fomular
		aus und klicken sie dann auf Stelle erstellen</p>




	<form action="" mehtod="POST">
		<p>
			Fakultät: <select><option>Alle</option>
				<option>Architektur und Gestaltung</option>
				<option>Bauningenierwesen</option>
				<option>Elektro- und Informationstechnik</option>
				<option>Informatik</option>
				<option>Alle</option>Maschinenbau
			</select>
			<option>Alle</option>
			<option>Wirtschaft und Sozialwissenschaften</option>
		</p>
		<p>
			Bundesland: <select><option>Baden-Würtemberg</option>
				<option>Bayern</option>
				<option>Saarland</option>
				<option>Hessen</option>
				<option>Thüringen</option>
				<option>Sachsen</option></select>
		</p>
		<p>
			Stadt : <input type="text" placeholder="Stadt">
		</p>
		<p>
			Dauer : <select><option>3</option>
				<option>6</option>
				<option>8</option>
				<option>12</option></select> Monate
		</p>
		<p>
			Aufgaben :
			<textarea name="beschreibung">Schreiben sie hier bitte Aufgaben rein Sachen rein </textarea>
		</p>
		<p>
			Anforderungen :
			<textarea name="beschreibung">Schreiben sie hier bitte die Anforderungen rein Sachen rein </textarea>
		</p>
		<p>
			Beschreibung :
			<textarea name="beschreibung">Schreiben sie hier bitte allgemeine Sachen rein </textarea>
		</p>



		<input type="submit" value="Stelle erstellen">

		<p>
			<a href="">zurück zur Hauptseite</a>
		</p>



	</form>





</body>
</html>