<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main2.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/Suche.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>


 <script type="text/javascript">
	$(function() {

 		$("#sucheverfeinernformular").hide();
 	});
	
	
	function sucheverf(){
		$("#sucheverfeinernformular").slideDown();
	}
 </script>
 
 <script type="text/javascript">
 
 	function ueberpruefen(){
 		var eingabe = document.getElementById("input3").value;
 		if(!eingabe){
 			alert("Bitte die Pflichtfelder ausfüllen");
 			window.location.reload();
 		}else{
 			laden();
 		}
 	}
 
 
 
 
 </script>
 
 <script>
 
 var fakultät
 var bundesland
 var stadt
 var dauer
 var größe
 var unternehmen
 var datum
 
 function laden(){
 	
 	 fakultät = document.getElementById("select").value;
 	 bundesland = document.getElementById("select2").value;
 	 stadt = document.getElementById("input1").value;
 	 dauer = document.getElementById("select4").value;
 	 größe = document.getElementById("select3").value;
 	 unternehmen = document.getElementById("input2").value;
 	 anfang = document.getElementById("input3").value;
 	
 	
 	
 	$("#ausgeben").load("/praktikasuche?fakultät=" +fakultät+"&bundesland="+
 			bundesland+"&stadt="+stadt+"&dauer="+dauer+"&größe="+größe+"&unternehmen="+unternehmen+"&anfang"+anfang);
 												

 	
 }

 var webSocket;

 var neu = false; 
 $(function() {
 	var WS = window["MozWebSocket"] ? MozWebSocket : WebSocket;
 	webSocket = new WS("@routes.Websocket.websocket().webSocketURL(request)");
 	webSocket.onmessage = receiveEvent;
 })

 function receiveEvent(event) {
 	laden();
 	$("#ausgeben1").html(event.data);
 }

 </script>
</head>


<body>

<div id="ganzeSeite">
	
	<!-- Kopfbereich der Seite -->
	
	<div id="kopfbereich">
		<div id="alleBilder">
			<div id="bild">  <img  src="/assets/images/bild.jpg" class="bilder" > </div>
			<div id="bild3"> <img  src="/assets/images/bild3.jpg" class="bilder"> </div>
			<div id="bild2"> <img  src="/assets/images/bild2.jpg" class="bilder"> </div>
		</div>
		
		<div class="clear"></div>
	
		<h2>Einfache Schnelle Praktikumssuche</h2>
		<h1 id="TED">TED</h1>
		<hr>
		<div id="nav">
			<ul>
				<li class="first"><a href="/startseite">Home</a></li>
				<li><a href="/suche">Suche</a></li>
				<li><a href="/bewerbungstipps">Tipps</a>
					<ul>
						<li><a href="/bewerbungstipps">Bewerbung</a></li>
					</ul></li>
				<li><a href=”#”>Unternehmen</a></li>
				<li><a href="/impressum">Über Uns</a>

					<ul>
						<li><a href="/ueberuns">T.E.D</a></li>
						<li><a href="/impressum">Impressum</a></li>
					</ul></li>
				<li><a href="/kontakt">Kontakt</a></li>
			</ul>
		</div>

	</div>
	
	
	<!-- Linke Seite  -->
	<div id="linkeSeite">  </div>

	<!-- Rechte Seite -->
	<div id="rechteSeite"> </div>
	
	<!-- Inhalt -->
	<div id="inhalt">
		
		<h1 class="ueberschrift">Praktikum finden</h1>

		<form id="formular1">

			<p id="text1"> Bundesland* <select id="select2">
											<option>Baden-Württemberg</option>
											<option>Bayern</option>
											<option>Saarland</option>
											<option>Rheinland-Pfalz</option>
											<option>Hessen</option>
											<option>Thüringen</option>
											<option>Sachsen</option>
										</select>
					Welche Fakultät?* <select id="select">
											<option>Architektur und Gestaltung</option>
											<option>Bauingenieurwesen</option>
											<option>Elektro - und Informationstechnik</option>
											<option>IT</option>
											<option>Maschinenbau</option>
											<option>BWL</option>
									 </select>
			</p>
	
		
			<p id="text1"> Anfangsdatum* <input class="calendarSelectDate" id="input3" type="date" placeholder="TT.MM.JJJJ" pattern="[0][1].[0-1][]"></p>
		
			<div id="sucheverfeinern">
				<p>
					<a href="#" onclick="sucheverf()">Suche verfeinern</a>
				</p>
			</div>

			<div id="sucheverfeinernformular">

				<p id="text1"> Wo? <input id="input1" type="text" placeholder="Stadt/PLZ"> Unternhemen <input id="input2" type="text" placeholder="Name des Unternehmen"></p>
				<p id="text1"> Dauer <select id="select4">
										<option>beliebig</option>
										<option>3</option>
										<option>6</option>
										<option>8</option>
										<option>12</option>
									</select>
				</p>
			</div>


			<p><button id="button1" onclick="ueberpruefen()">Suche</button></p>
		</form>


 		<div id="ausgeben"></div>
 	</div>
 	
 	<div id="unten">  </div>
 </div>
 
 </body>
</html>