<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/assets/stylesheets/main.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css"
	href="/assets/stylesheets/Suche.css">

<script type="text/javascript"
	src="/assests/javascripts/jquery-1.9.0.min.js)">
	
	function aufruf(){
  			
 $(document).ready(function() {
    $('#sucheverfeinern').hide();
})};
  
  
  
  
  
  
  
  
  </script>
</head>
<body>
	<h1 id="TED">TED</h1>
	<h2>Einfache Schnelle Praktikumssuche</h2>
	<hr>

	<div id="nav">
		<ul>
			<li class="first"><a href=”#”>Home</a></li>
			<li><a href=”#”>Suche</a></li>
			<li><a href=”#”>Tipps und Tricks</a>
				<ul>
					<li><a href=”#”>Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href=”#”>Über Uns</a>

				<ul>
					<li><a href=”#”>T.E.D</a></li>
					<li><a href=”#”>Impressum</a></li>
				</ul></li>
			<li><a href=”#”>Kontakt</a></li>
		</ul>
	</div>


	<h1>Praktikum finden</h1>

	<form id="formular1">

		<p id="text1">
			Wo? <input id="input1" type="text" placeholder="Stadt/PLZ">
			Welche Fakultät? <select id="select">
				<option>Alle</option>
				<option>Architektur und Gestaltung</option>
				<option>Bauingenieurwesen</option>
				<option>Elektro - und Informationstechnik</option>
				<option>Informatik</option>
				<option>Maschinenbau</option>
				<option>Wirtschaft- und Sozialwissenschaften</option>


			</select>
		</p>

		<div id="sucheverfeinern">
			<p>
				<a href="#" onclick="">Suche verfeinern</a>
			</p>
		</div>

		<div id="sucheverfeinernformular">


			<p id="text1">
				Bundesland <select id="select2">
					<option>Baden-Württemberg</option>
					<option>Bayern</option>
					<option>Saarland</option>
					<option>Rheinland-Pfalz</option>
					<option>Hessen</option>
					<option>Thüringen</option>
					<option>Sachsen</option>

				</select> Unternhemen <input id="input2" type="text"
					placeholder="Name des Unternehmen">
			<p id="text1">
				Unternehmensgröße <select id="select3">
					<option>kleines Unternehmen</option>
					<option>mittelständisches Unternehmen</option>
					<option>großes Unternhemn</option>


				</select> Dauer <select id="select4">
					<option>3</option>
					<option>6</option>
					<option>8</option>
					<option>12</option>
				</select>
			</p>
			<p id="text1">
				Anfangsdatum <input id="input3" type="date">
			</p>









		</div>


		<p>
			<button id="button1">Finde dein Praktikum</button>
		</p>




	</form>











</body>
</html>