<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bewerber-Registrierung</title>
</head>
<body>
	<img alt="Logo" src="./images/LogoFertig.jpg">

	<table border=1>
		<tr>
			<th><a href="">Startseite<a></th>
			<th><a href="">Impressum<a></th>
			<th><a href="">Über uns</a></th>
			<th><a href="./Bewerbungstipps.html">Bewerbungstipps</a></th>
			<th><a href="">Wie kann ich Stellen anschauen?</a>
		</tr>
	</table>

	<h1>Unternehmen-Registrierung</h1>
<form action="/Registrierung" method ="POST">
	<ul>
		<li><input type="text" placeholder="Unternehmensname" name="Unternehmensname"></input></li>
		<li><input type="text" placeholder="Branche" name="Branche"></input></li>
		<li><input type="text" placeholder="Straße" name="Strasse"></input></li>
		<li><input type="text" placeholder="Ort" name="Ort"></input></li>
		<li><input type="text" placeholder="Plz" name="Plz"></input></li>
		<li><input type="text" placeholder="Bundesland" name="Bundesland"></input></li>
		<li><input type="text" placeholder="Land" name="Land"></input></li>
		<li><input type="text" placeholder="E-Mail" name="E-Mail"></input></li>
		<li><input type="text" placeholder="Passwort" name="Passwort"></input></li>
		<li><input type="text" placeholder="Homepage" name="Homepage"></input></li>
		<li><input type="text" placeholder="Festnetznummer" name="Festnetznummer"></input></li>
		
		<input type="submit" value="abschicken">
		



	</ul>
</form>



</body>
</html>