@(error: String)
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bewerber-Registrierung</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/ure.css">
<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>

<script type="text/javascript">

function bewegung(){
	
	$(".generatecssdotcom_arrow").animate({left:"180px"}, 1500);
	$(".generatecssdotcom_arrow").animate({left:"-100px"}, 3000);
	$("#button").css("background","#6dc7ec");
	
	

}


</script>

</head>


<body>
<div id="ganzeSeite">
	<div id="bild">  <img  src="/assets/images/bild.jpg"> </div>
	<div id="bild2"> <img  src="/assets/images/bild2.jpg"> </div>
	<div id="bild3"> <img  src="/assets/images/bild3.jpg"> </div>
	
	<div id="nachobenverschieben">
	<h1 id="TED">TED</h1>
	<h2>Einfache Schnelle Praktikumssuche</h2>
	</div>
	<hr>

	<div id="nav">
		<ul>
			<li class="first"><a href="/startseite">Home</a></li>
			<li><a href="/suche">Suche</a></li>
			<li><a href="/bewerbungstipps">Tipps und Tricks</a>
				<ul>
					<li><a href="/bewerbungstipps">Bewerbung</a></li>
				</ul></li>
			<li><a href=”#”>Alle Unternehmen</a></li>
			<li><a href="/impressum">Über Uns</a>

				<ul>
					<li><a href="/ueberuns">T.E.D</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul></li>
			<li><a href="/kontakt">Kontakt</a></li>
		</ul>
	</div>

	<h1>Unternehmen-Registrierung</h1>
	@if(error != null) {
	<div>@error</div>
	}
	<div id="listeverschieben">
	<form onmouseover="bewegung()"  action="/Registrierung/xyz" method ="POST">
	<ul>
		<li><input type="text" placeholder="Unternehmensname" name="Unternehmensname" class="eingabe"></input></li>
		<li><input type="text" placeholder="Branche" name="Branche" class="eingabe"></input></li>
		<li><input type="text" placeholder="Straße" name="Strasse" class="eingabe"></input></li>
		<li><input type="text" placeholder="Ort" name="Ort" class="eingabe"></input></li>
		<li><input type="text" placeholder="Plz" name="Plz" class="eingabe"></input></li>
		<li><input type="text" placeholder="Bundesland" name="Bundesland" class="eingabe"></input></li>
		<li><input type="text" placeholder="Land" name="Land" class="eingabe"></input></li>
		<li><input type="text" placeholder="E-Mail" name="E-Mail" class="eingabe"></input></li>
		<li><input type="text" placeholder="Passwort" name="Passwort" class="eingabe"></input></li>
		<li><input type="text" placeholder="Homepage" name="Homepage" class="eingabe"></input></li>
		<li><input type="text" placeholder="Festnetznummer" name="Festnetznummer" class="eingabe"></input></li>
		
		<div id="buttonverschieben">
		<input type="submit" value="Registrieren" id="button">
	   </div>
	   
	</ul>
	
</form>
<div  class="generatecssdotcom_arrow"></div><div class="generatecssdotcom_arrowpoint"></div>






</body>
</html>