@(error: String)
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bewerber-Registrierung</title>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/main2.css">
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/ure.css">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favcon_TED.ico")">
<script src="@routes.Assets.at("javascripts/jquery-1.11.1.min.js")" type="text/javascript"></script>

<script type="text/javascript">

function bewegung(){
	
	$(".generatecssdotcom_arrow").animate({left:"180px"}, 1500);
	$(".generatecssdotcom_arrow").animate({left:"-100px"}, 3000);
	$("#button").css("background","#6dc7ec");
}



function vergleich(){
	var password1 = document.getElementById("p1").value;
	var password2 = document.getElementById("p2").value;
	
	if(password1==password2){
		$("#vergleich").html("<p id='richtig'>Passwort ist gleich</p>");
		
	}else{
		$("#vergleich").html("<p id='falsch'>Passwort ist nicht gleich</p>");
	}

	
	
}


</script>
</head>


<body>
<div id="ganzeSeite">
	
	<!-- Kopfbereich der Seite -->
	
	<div id="kopfbereich">
		
		<div class="clear"></div>
	
		<h2>Einfache Schnelle Praktikumssuche</h2>
		<h1 id="TED">TED</h1>
		<hr>

	</div>
	
	
	<!-- Linke Seite  -->
	<div id="linkeSeite">  </div>

	<!-- Rechte Seite -->
	<div id="rechteSeite"> </div>
	
	<!-- Inhalt -->
	<div id="inhalt">
		<div id="nav">
			<ul>
				<li class="first"><a href="/startseite">Home</a></li>
				<li><a href="/suche">Suche</a></li>
				<li><a href="/bewerbungstipps">Tipps</a>
					<ul>
						<li><a href="/bewerbungstipps">Bewerbung</a></li>
					</ul></li>
				<li><a href="/firmenzeiger">Unternehmen</a></li>
				<li><a>Über Uns</a>

					<ul>
						<li><a href="/impressum">Impressum</a></li>
					</ul></li>
				<li><a href="/kontakt">Kontakt</a></li>
				<li><a href="/profil">Profil-Menü</a></li>
			</ul>
		</div>

	<h1 class="ueberschrift">Unternehmen-Registrierung</h1>
	@if(error != null) {
	<div class="error">@error</div>
	}
	
	<div id="listeverschieben">
		<form onmouseover="bewegung()"  action="/Registrierung/xyz" method ="POST">
			<ul>
				<li><input type="text" placeholder="Unternehmensname" name="Unternehmensname" class="eingabe"></input></li>
				<li><input type="text" placeholder="Branche" name="Branche" class="eingabe"></input></li>
				<li><input type="text" placeholder="Straße" name="Strasse" class="eingabe"></input></li>
				<li><input type="text" placeholder="Ort" name="Ort" class="eingabe"></input></li>
				<li><input type="text" placeholder="Plz" name="Plz" class="eingabe"></input></li>
				<li><input type="text" placeholder="Bundesland" name="Bundesland" class="eingabe"></input></li>
				<li><input type="text" placeholder="Land" name="Land" class="eingabe"></input></li>
				<li><input type="text" placeholder="E-Mail" name="E-Mail" class="eingabe"></input></li>
				<li><input type="password" placeholder="Passwort" name="Passwort" class="eingabe" id ="p1"></input></li>
				<li><input type="password" placeholder="Passwort wiederholen" name="Passwort2" class="eingabe" onkeyup="vergleich() " id="p2"></input></li>
				<div id="vergleich"></div><br>
				<li><input type="text" placeholder="Homepage" name="Homepage" class="eingabe"></input></li>
				<li><input type="text" placeholder="Festnetznummer" name="Festnetznummer" class="eingabe"></input></li>

		
	   		</ul>
	
				<div id="buttonverschieben">
					<input type="submit" value="Registrieren" id="button">
	  			 </div>
		</form>
		<div  class="generatecssdotcom_arrow"></div><div class="generatecssdotcom_arrowpoint"></div>
	</div>
 </div>	
 </div>
</body>
</html>